@import url(http://fonts.googleapis.com/css?family=Rancho);
@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
header{
	border-radius: 2px 2px 0 0;
}
header h1{
	font-family: Rancho, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80px;
	text-shadow: 3px 3px #c5c5c5;
}
header p{
	width: 500px;
	font-size: 16px;
	font-weight: bold;	
}
body{
	color: #000;
	background: none;
	background-color: #006699;
}
.wrapper{
	width: 900px;
	box-shadow: 14px 14px 10px 4px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.45);
}
section{
	border-radius: 0 0 2px 2px;
}
section h1{
	font-family: Rancho, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 40px;
	margin-bottom: 10px;
}
iframe{
	margin-bottom: 20px;
}
.demos{
	padding-left: 30px;
}
.demo1, .demo2, .demo3, .demo4{
	border: 1px solid #ccc; 
	border-radius: 2px; 
	width: 180px; 
	margin-bottom: 20px; 
	padding: 5px; 
	background-color: #7CE8F9;
	text-align: center; 
	font-size: 40px; 
	font-weight: bold; 
	font-family: 'Gochi Hand', cursive; 
	float: left;
}
.demo2, .demo3, .demo4{
	margin-left: 10px;
	background-color: #E6DB74;
	font-family: Righteous, cursive;
}
.demo3{
	background-color: #F92672;
	font-family: Lato, arial;
}
.demo4{
	background-color: #70C72E;
	font-family: 'Sigmar One', cursive;
}